*{
	padding: 0px;
    box-sizing: border-box;
	margin: 0px;
}
.new{

	
	font-size: 20px;
	  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url(3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	color: black;
	 text-transform: uppercase;
}
h1{
    color: white;
   
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    width: 1000px;
    position: absolute;
    top: 10%;
    left: 65%;
    transform: translate(-50%,-50%);
    
    font-weight: lighter;
}
.i{
	width: 1000px;
    position: absolute;
    top: 20%;
    left: 50%;
    color: aqua;
    transform: translate(-50%,-50%);
}
.i1{
	width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: aqua;
    transform: translate(-50%,-50%);

}
.d{
   display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s ,color 0.2;
}
.f{
    background-color: transparent;
    color: aqua;

    position: absolute;
    top: 80%;
    left: 50%;
    color: purple;
    transform: translate(-50%,-50%);
    margin-right: 15px;
    border: 1px solid white; 
    
}
.d:hover{
    background-color: white;
}
footer {
  font-family: 'Merienda', cursive;
  background: #7682cc;
  text-align: center;
 
  width: 1700px;
    position: absolute;
    top: 96.25%;
    left: 50%;
    transform: translate(-50%,-50%);
  padding: 15px 100px;
}

footer p {
  padding-bottom: 2px;
}